.register-form {
  display: grid;
  gap: 8px;
  line-height: 1.3;
  padding: 1rem;
}
.formBtn {
  border-radius: var(--ihc-border-radius-s);
  padding: var(--ihc-padding-s);
  background-color: rgb(211, 208, 208);
  border: 2px solid white;

  align-self: center;
}
.formBtn:hover {
  border: 2px solid var(--ihc-light-BG-color);
  color: var(--ihc-light-BG-color);
  /* font-weight: bold; */
  background-color: white;
}
.register-page > h2 {
  text-align: center;
  padding: 1rem;
}
.fieldsets {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: var(--ihc-border-radius-s);
  padding: var(--ihc-padding-xs);
  /* margin: 10px 10px; */
  font-size: var(--ihc-font-size-s);
  width: 100%;
}
.phonediv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.fieldsets > input {
  background-color: transparent;
  font-weight: bold;
}

.required::after {
  content: ' *';
}
.errorMsg {
  font-size: var(--ihc-font-size-s);
  color: red;
}
.correctMsg {
  font-size: var(--ihc-font-size-s);
  color: rgb(138, 241, 93);
}
.correctMsg::before {
  content: url('greenCheck.png');
  /* display: inline-block; */
  width: 5px;
  height: 5px;
}
.errorMsg::before {
  background-image: url('./redcross.png');
  background-size: 10px 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  content: ' ';
}
.fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-width: 200px;
}
@media screen and (min-width: 600px) {
  .register-form {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .formBtn {
    grid-column: span 1/3;
  }
}
