.container-prod {
  border: 2px solid var(--ihc-basic-border);
  border-radius: var(--ihc-border-radius-xs);
  box-shadow: var(--ihc-basic-shadow);
  padding: var(--ihc-basic-margin);
  display: var(--ihc-basic-display);
  flex-direction: var(--ihc-basic-direction-col);
  align-items: var(--ihc-basic-align);
  justify-content: var(--ihc-basic-JContent-center);
  gap: var(--ihc-basic-gap);
  min-height: var(--ihc-min-height-card-xl);
  position: relative;
  background-color: white;
  transition: transform 0.5s;
  width: 100%;
  margin: 10px;
}
.prod-img {
  width: 200px;
  height: 200px;
  border-radius: var(--ihc-border-radius-round);
}
.episode-link {
  font-size: 10px;
}
.product-status,
.product-origin {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.prod-megusta {
  width: 30px;
  height: 30px;
  align-self: center;
  margin-right: 5px;
  cursor: pointer;
}
.stars {
  cursor: pointer;
}
.container-epi:hover {
  outline: 3px solid rgb(231, 166, 61);
  transform: scale(1.05) rotate(1deg);

  background-color: rgb(240, 230, 144);
}
.container-epi:hover > img {
  width: 40%;
  height: 50%;
}
.container-epi:hover > .episode-link {
  font-size: 20px;
  text-align: center;
}
