Header,
Header > nav,
Header > nav > ul {
  display: var(--ihc-basic-display);
  flex-direction: var(--ihc-basic-direction-row);
  align-items: var(--ihc-basic-align);
}
Header {
  justify-content: var(--ihc-basic-JContent-center);
  background-color: var(--ihc-main-BG-color);
}
Header > nav,
Header > nav > ul {
  justify-content: var(--ihc-basic-JContent-SA);
  width: 100%;
}
Header > nav > ul > a {
  padding: 10px 15px;
  color: var(--ihc-text-color-white);
}
Header > nav > ul > a:hover {
  background-color: var(--ihc-light-BG-color);
  border-radius: var(--ihc-border-radius-xs);
}
Header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}
img {
  height: 10svh;
  width: 10svh;
  rotate: 35deg;
}
title {
  font-size: 20px;
  display: block;
  color: var(--ihc-text-color-white);
  cursor: pointer;
}
