Header,
Header > nav,
Header > nav > ul {
  display: var(--ihc-basic-display);
  flex-direction: var(--ihc-basic-direction-row);
  align-items: var(--ihc-basic-align);
}
Header {
  justify-content: var(--ihc-basic-JContent-center);
  background-color: var(--ihc-main-BG-color);
  background-color: rgb(219, 214, 214);

  /* filter: brightness(1.3); */
  /* background: var(--ihc-gradiant-color); */
}
Header > nav,
Header > nav > ul {
  justify-content: var(--ihc-basic-JContent-SA);
  width: 100%;
}
Header > nav > ul > a {
  padding: 5px 10px;
  color: var(--ihc-primary-text-color); /*var(--ihc-text-color-yellow);*/
}
Header > nav > ul > a:hover {
  border-radius: var(--ihc-border-radius-m);
  border: 1px solid var(--ihc-light-BG-color);
  color: var(--ihc-light-BG-color);
}
Header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}
img {
  height: 10svh;
  width: 10svh;
  rotate: 35deg;
}
.header-title {
  font-size: 20px;
  display: block;
  color: var(--ihc-text-color-orange);
  cursor: pointer;
  text-align: center;
  border-right: 1px solid black;
}

@media (max-width: 580px) {
  .header-title {
    display: none;
  }
  Header > nav > ul > a {
    padding: 5px 10px;
    font-size: var(--ihc-font-size-m);
  }
}
