Header,
Header > nav,
Header > nav > ul {
  display: var(--ihc-basic-display);
  flex-direction: var(--ihc-basic-direction-row);
  align-items: var(--ihc-basic-align);
}
Header {
  justify-content: var(--ihc-basic-JContent-center);
  background-color: var(--ihc-main-BG-color);
}
Header > nav,
Header > nav > ul {
  justify-content: var(--ihc-basic-JContent-SA);
  width: 100%;
}
Header > nav > ul > a {
  padding: 10px 15px;
  color: var(--ihc-text-color-black);
}
Header > nav > ul > a:hover {
  background-color: rgb(206, 205, 205);
  border-radius: var(--ihc-border-radius-xs);
}
